.hidden {
    display: none;
}

.filters {
    display: flex;
}

#criminalsContainer, .witnessesContainer, #facilitiesContainer{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.criminal-card, .witness-card, .facility-card {
    margin: 0.5em;
    padding: 0.25em;
    border: solid 1px;
    flex-basis: 15%;
    min-width: 200px;
}

.criminal-card > h2{
    margin-top: 0.25em;
}

.noteFormContainer {
    border: solid 1px;
    width:  50%;
    margin-bottom: 2em;
    padding-left: 0.5em;
}